
<% content_for :head do %>
  <% stylesheet_link_tag  "default-style", "navbar", "departures-filter", "data-turbo-track": "reload" %>
<% end %>

<div class="container">

  <%= render partial: "shared/navbar", locals: {current_page: "home"} %>


  <div class="departure-filters-page">

    <div class="mr-1">
      <div class="filters-card bg-gray-200 rounded-xl">
        <%= form_tag departures_filter_search_path, method: :post, class: "filters-card-form" do %>

          <div class="flex items-center">
            <%= label_tag :origin_station, 'Origin Station', id: "origin-station-label", class: ""%>
          </div>

          <%= select_tag :origin_station, options_for_select(@station_names, "Dublin Connolly"), class: "select-tag", id: "origin-station-select"%>

          <div class="flex items-center">
            <%= label_tag :destination_station, 'Destination Station', id: "destination-station-label" %>
          </div>

          <% destination_station_names = ["All"] + @station_names %>
          <%= select_tag :destination_station, options_for_select(destination_station_names, "All"), class: "select-tag", id: "destination-station-select"%>
          <br>

          <%= submit_tag 'Search', class: "cursor-pointer text-white rounded-lg", id: "station-filter-submit" %>
        <% end %>

      </div>
    </div>

    <div class="suggested-journeys">
      <h1 class="text-4xl font-bold text-gray-700">Suggested Journeys</h1>

      <%= link_to departures_filter_set_journey_path(origin_station: "Dublin Connolly", destination_station: "Howth Junction") do %>
        <%= render partial: "suggested-journey-card", locals: {origin_station: "Dublin Connolly", destination_station: "Howth Junction"} %>
      <% end %>

      <%= link_to departures_filter_set_journey_path(origin_station: "Dublin Connolly", destination_station: "Maynooth") do %>
        <%= render partial: "suggested-journey-card", locals: {origin_station: "Dublin Connolly", destination_station: "Maynooth"} %>
      <% end %>

      <%= link_to departures_filter_set_journey_path(origin_station: "Dublin Heuston", destination_station: "Sallins") do %>
        <%= render partial: "suggested-journey-card", locals: {origin_station: "Dublin Heuston", destination_station: "Sallins"} %>
      <% end %>

      <%= link_to departures_filter_set_journey_path(origin_station: "Dublin Heuston", destination_station: "Cork") do %>
        <%= render partial: "suggested-journey-card", locals: {origin_station: "Dublin Heuston", destination_station: "Cork"} %>
      <% end %>

    </div>
  </div>


</div>