<% content_for :head do %>
  <% stylesheet_link_tag "navbar", "default-style" %>
<% end %>

<% content_for :page_title do %>
  Password Change
<% end %>

<div class="container">

  <%= render partial: "shared/navbar", locals: {current_page: "na"} %>

  <div class="flex justify-center items-center">
    <div>

      <h2  class="text-5xl font-bold flex justify-center items-center pb-5 text-gray-700" style="max-width: 25rem;">Change your password</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>

        <div class="field">
          <div class="mb-2 mt-4">
            <%= f.label :password, "New password" %><br />
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em><br />
            <% end %>
          </div>

          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "text-lg", style: "height: 2em; width: 25rem;"%>
        </div>

        <div class="field">
          <div class="mb-2 mt-4">
            <%= f.label :password_confirmation, "Confirm new password" %><br />
          </div>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "text-lg", style: "height: 2em; width: 25rem;" %>
        </div>

        <div class="actions flex justify-center items-center p-4 mt-7 mb-4 cursor-pointer green-button">
        <%= f.submit "Change my password" %>
        </div>
      <% end %>

      <div class="text-gray-500">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>

</div>