<div class="container">

  <%= render partial: "shared/navbar", locals: {current_page: "login"} %>
  <div class="flex justify-center items-center">

    <div>

      <h2 class="text-5xl font-bold flex justify-center items-center pb-5 text-gray-700">Password Reset</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full text-lg" %>
        </div>

        <div class="actions flex justify-center items-center p-4 mt-7 mb-7 bg-gray-300 hover:bg-gray-400 cursor-pointer">
          <%= f.submit "Send me reset password instructions", class: "cursor-pointer"%>
        </div>
      <% end %>

      <div class="text-gray-500">
        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>
</div>


