<div class="navbar dropdown-hidden" id="navbar">

  <div class="navbar-title">
    <h1 class="text-4xl font-semibold">IrishRailApp</h1>
  </div>

  <div class="hamburger-button">
    <%= button_tag type: 'button', onclick: "navbarToggle()", class: "" do %>
      <%= image_tag("icons8-menu-48.png", class: "img-responsive", style: "max-width: 3em;") %>

    <% end %>
  </div>

  <ul class="navbar-items text-lg">

    <li class="<%= current_page == "home" ? "text-black" : "text-gray-500" %>">
      <%= link_to "Home", root_path %>
    </li>
    <li class="text-gray-400 navbar-divider">|</li>
    <li class="<%= current_page == "departures" ? "text-black" : "text-gray-500" %>">
      <%= link_to "Departures", departures_page_path %>
    </li>
    <li class="text-gray-400 navbar-divider">|</li>
    <li class="<%= current_page == "about" ? "text-black" : "text-gray-500" %>">
      <%= link_to "About", about_page_path %>
    </li>
    <li class="text-gray-400 navbar-divider">|</li>
    <li class="<%= current_page == "login" ? "text-black" : "text-gray-500" %>">

      <% if user_signed_in? %>
        <%= button_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </li>

  </ul>

</div>