
<!--<pre><%#= @response_pretty %></pre>-->

<% content_for :head do %>
  <% stylesheet_link_tag "default-style", "navbar", "departures" %>
<% end %>

<% content_for :page_title do %>
  Departures
<% end %>

<div class="container">

  <%= render partial: "shared/navbar", locals: {current_page: "departures"} %>

  <% if @no_trains %>
    <p class="ml-5 text-gray-500">
      No departures from <i><%= session[:origin_station] %></i>
      <%#= session[:destination_station] == "All" ?  "": "heading towards #{session[:destination_station]}"%>
      <% if session[:destination_station] != "All" %>
        heading towards <i><%= session[:destination_station] %></i>
      <% end %>
      in the next 90 minutes.
    </p>
  <% elsif !@journey_supplied %>
    <p class="ml-5 text-gray-500">No journey supplied. Set a starting station and destination station to see departures.</p>
<% else %>
    <p class="ml-5 text-gray-500">
      Showing all departures from <i><%= session[:origin_station] %></i>
      <%#= session[:destination_station] == "All" ?  "": "heading towards #{session[:destination_station]}"%>
      <% if session[:destination_station] != "All" %>
        heading towards <i><%= session[:destination_station] %></i>
      <% end %>
      in the next 90 minutes.
    </p>
  <% end %>

  <div class="change-journey-button">
    <%= link_to departures_filter_page_path do %>
      <% if @journey_supplied %>
        <p class="ml-5 mb-1 p-2 green-button rounded-md cursor-pointer">Change Journey</p>
      <% else %>
        <p class="ml-5 mb-1 p-2 green-button rounded-md cursor-pointer">Set Journey</p>
  <% end %>
    <% end %>
  </div>

  <hr class="footer-divider">

  <div style="margin-top: 2em">
    <% unless @no_trains || !@journey_supplied %>
      <% @train_departures.each_with_index do |departure, index| %>

      <%  if index != @train_departures.length-1  %>
        <% next_departure = @train_departures[index + 1] %>
      <% else %>
      <%  next_departure = nil  %>
      <% end %>

      <%=  render partial: "shared/card", locals: {
            departure: departure,
            next_departure: next_departure
          }  %>
      <%  end  %>

      <p class="text-gray-500" style="text-align: center; margin: 3em;">No more departures within the next 90 minutes...</p>
    <%  end %>
  </div>

<!--  <pre><%#= @response_pretty %></pre>-->

</div>