<% content_for :head do %>
  <% stylesheet_link_tag "navbar", "default-style" %>
<% end %>

<div class="container">

  <%= render partial: "shared/navbar", locals: {current_page: "login"} %>
  <div class="flex justify-center items-center">

    <div>
      <h2 class="text-5xl font-bold flex justify-center items-center pb-5 text-gray-700">Log in</h2>

      <%= render "devise/shared/flash_message" %>


      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <div class="mb-2">
            <%= f.label :email %>
          </div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text-lg", style: "height:2em; width:25rem;" %>
        </div>

        <div class="field">
          <div class="mb-2 mt-4">
            <%= f.label :password %>
          </div>
          <%= f.password_field :password, autocomplete: "current-password", class: "text-lg", style: "height:2em; width:25rem;"%>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field mt-2">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions green-button text-white rounded-lg flex justify-center items-center p-4 mt-7 mb-3 cursor-pointer">
          <%= f.submit "Log in", class: "cursor-pointer text-lg"%>
        </div>
      <% end %>

      <div class="text-gray-500">
        <%= render "devise/shared/links" %>
      </div>
    </div>

  </div>


</div>