<div class="container">

  <%= render partial: "shared/navbar", locals: {current_page: "login"} %>
  <div class="flex justify-center items-center">

    <div>
      <h2 class="text-5xl font-bold flex justify-center items-center pb-5">Log in</h2>


      <%= render "devise/shared/flash_message" %>


      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full text-lg" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "w-full text-lg"%>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field mt-2">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions flex justify-center items-center p-4 mt-7 mb-7 bg-gray-300 hover:bg-gray-400 cursor-pointer">
          <%= f.submit "Log in", class: "cursor-pointer"%>
        </div>
      <% end %>

      <div class="text-gray-500">
        <%= render "devise/shared/links" %>
      </div>
    </div>

  </div>


</div>