<!DOCTYPE html>
<html>
  <head>
    <title>
      Irish Rail App <%= content_for?(:page_title) ? " | " + yield(:page_title) : "" %>
    </title>
    <%= favicon_link_tag image_path("icons8-tracks-90.png")%>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>
    <%#= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto px-5">
      <%#= notice if notice %>
      <%#= alert if alert %>
      <%= yield %>
    </main>

    <%= render partial: "shared/footer" %>
  </body>
</html>
